<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="./img/cloud.png" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      <h1>{{>header}}</h1>
      <p>This site was created by Robert Moss. It uses data from external sources</p>
      <img class="potrait" src="./img/me.jpg" />
    </div>
    <p>{{>footer}}</p>
  </body>
</html>
